.env
/vendor/
admin/index-responsive.php
css/responsive.css
css/style.css
uploads/reportsreport_686fd2bc34ccb.png
reportsreport_686fd30f8b4be.png
connection.php
uploads/id_back/back_68824d9b55d1c_Article1ReadName.png
uploads/id_back/back_68824ed048369_Article1ReadName.png
uploads/id_front/front_68824d9b55a5a_Article1Read.png
uploads/id_front/front_68824ed047f9f_Article1Read.png
uploads/profile_photo_client/profile_68824d9b56635_Screenshot 2025-07-23 023200.png
uploads/profile_photo_client/profile_68824ed048585_Doroja, Gerard_Histogram_Task3.png
